<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.pangge.exam.mapper.CoursesMapper" >
  <resultMap id="BaseResultMap" type="online.pangge.exam.domain.Courses" >
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="teacher" property="teacher"/>
    <result column="classesNum" property="classesnum"/>
    <result column="required" property="required"/>
    <result column="synopsis" property="synopsis"/>
    <result column="create_date" property="createDate"/>
    <result column="last_dupdate_date" property="lastDupdateDate"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from courses
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="online.pangge.exam.domain.Courses" useGeneratedKeys="true" keyProperty="id" >
    insert into courses (name, teacher, classesNum, 
      required, synopsis, create_date, 
      last_dupdate_date)
    values (#{name,jdbcType=VARCHAR}, #{teacher,jdbcType=VARCHAR}, #{classesnum,jdbcType=VARCHAR}, 
      #{required,jdbcType=BIT}, #{synopsis,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastDupdateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="online.pangge.exam.domain.Courses" >
    update courses
    set name = #{name,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      classesNum = #{classesnum,jdbcType=VARCHAR},
      required = #{required,jdbcType=BIT},
      synopsis = #{synopsis,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_dupdate_date = #{lastDupdateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, teacher, classesNum, required, synopsis, create_date, last_dupdate_date
    from courses
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, teacher, classesNum, required, synopsis, create_date, last_dupdate_date
    from courses
  </select>
</mapper>